[BB-WEBHOOK]
CONFIG={
        "key": <Required. Secret key to authenticate with Bitbucket. In Base64 encoded format. Leave empty string if HMAC is disabled.>,
        "type": <Required. HMACSHA Algorithm. Leave empty string if HMAC is disabled.>,
        "jira":
        {
            "allow_comment": <Required. Indicate if comment should be posted to Jira as well. true or false.>,
            "config": <Required. Path to Jira configuration file.>
        },
        "bitbucket":
        {
            "config": <Required. Path to Bitbucket configuration file>
        }
    }

[BB-ADHOC-REQUEST]
CONFIG={
        "api_key":
        {
            "key": <Required. API Key of the service. In Base64 encoded format. Leave empty string if API Key is disabled.>,
            "header": <Required. Header field where the API Key is stored. Leave empty string if API Key is disabled.>
        },
        "request_schema":
        {
            "type" : "object",
            "properties" :
            {
                "project":
                {
                    "type" : "string",
                    "pattern": "^([A-Za-z])+$"
                },
                "file":
                {
                    "type" : "string",
                    "pattern": "^.+\\..+$"
                },
                "files":
                {
                    "type" : "array",
                    "items":
                    {
                        "type": "string",
                        "pattern": "^.+\\..+$"
                    }
                },
                "repo":
                {
                    "type": "string"
                }
            },
            "oneOf":
            [
                {
                    "required": ["project", "file", "repo"]
                },
                {
                    "required": ["project", "files", "repo"]
                }
            ]
        },
        "bitbucket":
        {
            "config": <Required. Path to Bitbucket configuration file.>
        }
    }

[BB-API-AFFECTED-CHANGES]
CONFIG={
        "api_key":
        {
            "key": <Required. API Key of the service. In Base64 encoded format. Leave empty string if API Key is disabled.>,
            "header": <Required. Header field where the API Key is stored. Leave empty string if API Key is disabled.>
        },
        "request_schema":
        {
            "type" : "object",
            "properties" :
            {
                "project":
                {
                    "type" : "string",
                    "pattern": "^([A-Za-z])+$"
                },
                "pr":
                {
                    "type" : "string"
                },
                "commit":
                {
                    "type" : "string"
                },
                "repo":
                {
                    "type": "string"
                }
            },
            "oneOf":
            [
                {
                    "required": ["project", "pr", "repo"]
                },
                {
                    "required": ["project", "commit", "repo"]
                }
            ]
        },
        "bitbucket":
        {
            "config": <Required. Path to Bitbucket configuration file.>
        }
    }

[BB-API-COMMIT-PR]
CONFIG={
        "api_key":
        {
            "key": <Required. API Key of the service. In Base64 encoded format. Leave empty string if API Key is disabled.>,
            "header": <Required. Header field where the API Key is stored. Leave empty string if API Key is disabled.>
        },
        "request_schema":
        {
            "type" : "object",
            "properties" :
            {
                "project":
                {
                    "type" : "string",
                    "pattern": "^([A-Za-z])+$"
                },
                "commit":
                {
                    "type" : "string"
                },
                "repo":
                {
                    "type": "string"
                },
                "status":
                {
                    "type": "string",
                    "enum": ["OPEN", "MERGED", "DECLINED", "DELETED"]
                },
                "target":
                {
                    "type": "string"
                }
            },
            "required": ["project", "commit", "repo"]
        },
        "bitbucket":
        {
            "config": "./config.properties"
        }
    }

[BB-API]
CONFIG={
        "url": <Required. Bitbucket URL, e.g. http://localhost:7990>,
        "id": <Required. Username to authenticate with Bitbucket to access its REST API. In Base64 encoded format.>,
        "key": <Required. Password to authenticate with Bitbucket to access its REST API. In Base64 encoded format.>
    }

[JIRA-API]
CONFIG={
    "url": <Required. JIRA URL, e.g. http://localhost:7990>,
    "id": <Required. Username to authenticate with JIRA to access its REST API. In Base64 encoded format.>,
    "key": <Required. API Key to authenticate with JIRA to access its REST API. In Base64 encoded format.>
    }